body {
  background-color: powderblue;
}

header {
  background-color: palegreen;
}

footer { background-color: palegreen;
        text-align: center;
}

h1 { text-align: center;
}

p { color: blue;
    font-style: italic;
}

img {
  border: 7px double #555;
}

ul {
font-family: 'Bookman', sans-serif;
}
